@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yesteryear", cursive;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.container .box {
  position: absolute;
  width: 100%;
  height: 100vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.container .box.box1 {
  background: salmon;
  clip-path: polygon(0 0, 33% 0, 33% 100%, 0% 100%);
}

.container .box.box2 {
  background: mediumspringgreen;
  clip-path: polygon(33% 0, 67% 0, 67% 100%, 33% 100%);
}
.container .box.box3 {
  background: rgb(63, 63, 220);
  clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 100%);
}

.container .box.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.container .box:hover {
  z-index: 100;
}

.container .content {
  padding: 20px;
  margin: 20px;
  z-index: 10;
  opacity: 0;
  transition: 1s;
}

.container .box.active .content {
  opacity: 1;
  transition-delay: 0.5s;
}

.container .content h2 {
  color: #fff;
  font-size: 12vw;
  font-weight: initial;
}

.container .box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
